.footer {
    background: rgb(127, 143, 151);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 0; 
}

.nav-link{
     text-decoration: none;
    margin-right: 15px;
    margin: 0;
    color: rgb(23, 22, 22);
    background-color:#548582;
    padding:10px;
}
.nav{
padding:10px; background-color:#f44336; color:white; text-decoration:none; border-radius:5px;
}
       